@import 'tailwindcss';
/* import Flowbite Vue styles */
@import 'flowbite/src/themes/default';
/* import Flowbite plugin */
@plugin "flowbite/plugin";

@source "../../node_modules/flowbite/";

@media (hover: hover) {
  a:hover {
    background-color: hsla(244, 100%, 37%, 0.2);
  }
}

body {
  background-color: #f9fafb;
}

header h1 {
  color: #5145cd;
  font-weight: 500;
}

header svg {
  color: #5145cd;
}
